:root {
    --icon-size: 12px;
}

$btn-padding-y: 16px;
$btn-padding-x: 24px;
$btn-font-size: 18px;
$btn-border-color: #0c0c0c;
$btn-bg-color: #eff5ff;
$btn-color: $btn-border-color;
$btn-border-radius: 6px;
$btn-hover-bg-color: #cbdfff;
$btn-focus-shadow-color: #a3c7ff;
$btn-active-bg-color: #ff7af6;

$btn-primary-border-color: #00b8d4;
$btn-primary-bg-color: $btn-primary-border-color;
$btn-primary-color: #fff;
$btn-primary-hover-border-color: #0091ea;
$btn-primary-hover-bg-color: $btn-primary-hover-border-color;
$btn-primary-focus-border-color: #2962ff;
$btn-primary-focus-shadow-color: $btn-primary-focus-border-color;
$btn-primary-focus-bg-color: $btn-primary-focus-border-color;
$btn-primary-active-border-color: $btn-primary-focus-border-color;
$btn-primary-active-shadow-color: $btn-primary-focus-border-color;
$btn-primary-active-bg-color: $btn-primary-focus-border-color;
$btn-primary-outline-color: #00b8d4;
$btn-primary-outline-hover-color: $btn-primary-color;

$btn-secondary-border-color: #6200ea;
$btn-secondary-bg-color: $btn-secondary-border-color;
$btn-secondary-color: $btn-primary-color;
$btn-secondary-hover-border-color: #aa00ff;
$btn-secondary-hover-bg-color: $btn-secondary-hover-border-color;
$btn-secondary-focus-border-color: #c51162;
$btn-secondary-focus-shadow-color: $btn-secondary-focus-border-color;
$btn-secondary-focus-bg-color: $btn-secondary-focus-border-color;
$btn-secondary-active-border-color: $btn-secondary-focus-border-color;
$btn-secondary-active-shadow-color: $btn-secondary-focus-border-color;
$btn-secondary-active-bg-color: $btn-secondary-focus-border-color;
$btn-secondary-outline-color: #6200ea;
$btn-secondary-outline-hover-color: $btn-primary-color;

$btn-success-border-color: #aeea00;
$btn-success-bg-color: $btn-success-border-color;
$btn-success-color: $btn-primary-color;
$btn-success-hover-border-color: #64dd17;
$btn-success-hover-bg-color: $btn-success-hover-border-color;
$btn-success-focus-border-color: #00c853;
$btn-success-focus-shadow-color: $btn-success-focus-border-color;
$btn-success-focus-bg-color: $btn-success-focus-border-color;
$btn-success-active-border-color: $btn-success-focus-border-color;
$btn-success-active-shadow-color: $btn-success-focus-border-color;
$btn-success-active-bg-color: $btn-success-focus-border-color;
$btn-success-outline-color: #aeea00;
$btn-success-outline-hover-color: $btn-primary-color;

$btn-danger-border-color: #f6734b;
$btn-danger-bg-color: $btn-danger-border-color;
$btn-danger-color: $btn-primary-color;
$btn-danger-hover-border-color: #f4511e;
$btn-danger-hover-bg-color: $btn-danger-hover-border-color;
$btn-danger-focus-border-color: #aa3815;
$btn-danger-focus-shadow-color: $btn-danger-focus-border-color;
$btn-danger-focus-bg-color: $btn-danger-focus-border-color;
$btn-danger-active-border-color: $btn-danger-focus-border-color;
$btn-danger-active-shadow-color: $btn-danger-focus-border-color;
$btn-danger-active-bg-color: $btn-danger-focus-border-color;
$btn-danger-outline-color: #f6734b;
$btn-danger-outline-hover-color: $btn-primary-color;

$btn-warning-border-color: #ffc233;
$btn-warning-bg-color: $btn-warning-border-color;
$btn-warning-color: $btn-primary-color;
$btn-warning-hover-border-color: #ffb300;
$btn-warning-hover-bg-color: $btn-warning-hover-border-color;
$btn-warning-focus-border-color: #b27d00;
$btn-warning-focus-shadow-color: $btn-warning-focus-border-color;
$btn-warning-focus-bg-color: $btn-warning-focus-border-color;
$btn-warning-active-border-color: $btn-warning-focus-border-color;
$btn-warning-active-shadow-color: $btn-warning-focus-border-color;
$btn-warning-active-bg-color: $btn-warning-focus-border-color;
$btn-warning-outline-color: #ffc233;
$btn-warning-outline-hover-color: $btn-primary-color;

$btn-info-border-color: #33eaff;
$btn-info-bg-color: $btn-info-border-color;
$btn-info-color: $btn-primary-color;
$btn-info-hover-border-color: #00e5ff;
$btn-info-hover-bg-color: $btn-info-hover-border-color;
$btn-info-focus-border-color: #00a0b2;
$btn-info-focus-shadow-color: $btn-info-focus-border-color;
$btn-info-focus-bg-color: $btn-info-focus-border-color;
$btn-info-active-border-color: $btn-info-focus-border-color;
$btn-info-active-shadow-color: $btn-info-focus-border-color;
$btn-info-active-bg-color: $btn-info-focus-border-color;
$btn-info-outline-color: #33eaff;
$btn-info-outline-hover-color: $btn-primary-color;

$btn-light-border-color: #f1f1f1;
$btn-light-bg-color: $btn-light-border-color;
$btn-light-color: $btn-border-color;
$btn-light-hover-border-color: #e5e5e5;
$btn-light-hover-bg-color: $btn-light-hover-border-color;
$btn-light-focus-border-color: #cecece;
$btn-light-focus-shadow-color: $btn-light-focus-border-color;
$btn-light-focus-bg-color: $btn-light-focus-border-color;
$btn-light-active-border-color: $btn-light-focus-border-color;
$btn-light-active-shadow-color: $btn-light-focus-border-color;
$btn-light-active-bg-color: $btn-light-focus-border-color;
$btn-light-outline-color: #f1f1f1;
$btn-light-outline-hover-color: $btn-border-color;

$btn-dark-border-color: #3c3c3c;
$btn-dark-bg-color: $btn-dark-border-color;
$btn-dark-color: $btn-light-border-color;
$btn-dark-hover-border-color: #2e2e2e;
$btn-dark-hover-bg-color: $btn-dark-hover-border-color;
$btn-dark-focus-border-color: $btn-border-color;
$btn-dark-focus-shadow-color: $btn-border-color;
$btn-dark-focus-bg-color: $btn-border-color;
$btn-dark-active-border-color: $btn-border-color;
$btn-dark-active-shadow-color: $btn-border-color;
$btn-dark-active-bg-color: $btn-border-color;
$btn-dark-outline-color: $btn-dark-border-color;
$btn-dark-outline-hover-color: $btn-primary-color;