<section class="example">
    <div class="container">
        <h2 class="example-title">Button constructor (default)</h2>
        <div class="d-flex g-1 mb-2 flex-wrap">
            <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" class="btn btn-secondary">Secondary</button>
            <button type="button" class="btn btn-success">Success</button>
            <button type="button" class="btn btn-danger">Danger</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-info">Info</button>
            <button type="button" class="btn btn-light">Light</button>
            <button type="button" class="btn btn-dark">Dark</button>
        </div>
    </div>
</section>
<section class="example">
    <div class="container">
        <h2 class="example-title">Button constructor (default, middle)</h2>
        <div class="d-flex g-1 mb-2 flex-wrap">
            <button type="button" class="btn btn-primary btn-md">Primary</button>
            <button type="button" class="btn btn-secondary btn-md">Secondary</button>
            <button type="button" class="btn btn-success btn-md">Success</button>
            <button type="button" class="btn btn-danger btn-md">Danger</button>
            <button type="button" class="btn btn-warning btn-md">Warning</button>
            <button type="button" class="btn btn-info btn-md">Info</button>
            <button type="button" class="btn btn-light btn-md">Light</button>
            <button type="button" class="btn btn-dark btn-md">Dark</button>
        </div>
    </div>
</section>
<section class="example">
    <div class="container">
        <h2 class="example-title">Button constructor (default, large)</h2>
        <div class="d-flex g-1 mb-2 flex-wrap">
            <button type="button" class="btn btn-primary btn-lg">Primary</button>
            <button type="button" class="btn btn-secondary btn-lg">Secondary</button>
            <button type="button" class="btn btn-success btn-lg">Success</button>
            <button type="button" class="btn btn-danger btn-lg">Danger</button>
            <button type="button" class="btn btn-warning btn-lg">Warning</button>
            <button type="button" class="btn btn-info btn-lg">Info</button>
            <button type="button" class="btn btn-light btn-lg">Light</button>
            <button type="button" class="btn btn-dark btn-lg">Dark</button>
        </div>
    </div>
</section>
<section class="example">
    <div class="container">
        <h2 class="example-title">Button constructor (outline)</h2>
        <div class="d-flex g-1 mb-2 flex-wrap">
            <button type="button" class="btn btn-primary btn-outline">Primary</button>
            <button type="button" class="btn btn-secondary btn-outline">Secondary</button>
            <button type="button" class="btn btn-success btn-outline">Success</button>
            <button type="button" class="btn btn-danger btn-outline">Danger</button>
            <button type="button" class="btn btn-warning btn-outline">Warning</button>
            <button type="button" class="btn btn-info btn-outline">Info</button>
            <button type="button" class="btn btn-light btn-outline">Light</button>
            <button type="button" class="btn btn-dark btn-outline">Dark</button>
        </div>
    </div>
</section>
<section class="example">
    <div class="container">
        <h2 class="example-title">Button constructor (outline, middle)</h2>
        <div class="d-flex g-1 mb-2 flex-wrap">
            <button type="button" class="btn btn-primary btn-outline btn-md">Primary</button>
            <button type="button" class="btn btn-secondary btn-outline btn-md">Secondary</button>
            <button type="button" class="btn btn-success btn-outline btn-md">Success</button>
            <button type="button" class="btn btn-danger btn-outline btn-md">Danger</button>
            <button type="button" class="btn btn-warning btn-outline btn-md">Warning</button>
            <button type="button" class="btn btn-info btn-outline btn-md">Info</button>
            <button type="button" class="btn btn-light btn-outline btn-md">Light</button>
            <button type="button" class="btn btn-dark btn-outline btn-md">Dark</button>
        </div>
    </div>
</section>
<section class="example">
    <div class="container">
        <h2 class="example-title">Button constructor (outline, large)</h2>
        <div class="d-flex g-1 mb-2 flex-wrap">
            <button type="button" class="btn btn-primary btn-outline btn-lg">Primary</button>
            <button type="button" class="btn btn-secondary btn-outline btn-lg">Secondary</button>
            <button type="button" class="btn btn-success btn-outline btn-lg">Success</button>
            <button type="button" class="btn btn-danger btn-outline btn-lg">Danger</button>
            <button type="button" class="btn btn-warning btn-outline btn-lg">Warning</button>
            <button type="button" class="btn btn-info btn-outline btn-lg">Info</button>
            <button type="button" class="btn btn-light btn-outline btn-lg">Light</button>
            <button type="button" class="btn btn-dark btn-outline btn-lg">Dark</button>
        </div>
    </div>
</section>
<section class="example">
    <div class="container">
        <h2 class="example-title">Button constructor (roundet)</h2>
        <div class="d-flex g-1 mb-2 flex-wrap">
            <button type="button" class="btn btn-primary btn-roundet">Primary</button>
            <button type="button" class="btn btn-secondary btn-roundet">Secondary</button>
            <button type="button" class="btn btn-success btn-roundet">Success</button>
            <button type="button" class="btn btn-danger btn-roundet">Danger</button>
            <button type="button" class="btn btn-warning btn-roundet">Warning</button>
            <button type="button" class="btn btn-info btn-roundet">Info</button>
            <button type="button" class="btn btn-light btn-roundet">Light</button>
            <button type="button" class="btn btn-dark btn-roundet">Dark</button>
        </div>
    </div>
</section>
<section class="example">
    <div class="container">
        <h2 class="example-title">Button constructor (outline, roundet)</h2>
        <div class="d-flex g-1 mb-2 flex-wrap">
            <button type="button" class="btn btn-primary btn-outline btn-roundet">Primary</button>
            <button type="button" class="btn btn-secondary btn-outline btn-roundet">Secondary</button>
            <button type="button" class="btn btn-success btn-outline btn-roundet">Success</button>
            <button type="button" class="btn btn-danger btn-outline btn-roundet">Danger</button>
            <button type="button" class="btn btn-warning btn-outline btn-roundet">Warning</button>
            <button type="button" class="btn btn-info btn-outline btn-roundet">Info</button>
            <button type="button" class="btn btn-light btn-outline btn-roundet">Light</button>
            <button type="button" class="btn btn-dark btn-outline btn-roundet">Dark</button>
        </div>
    </div>
</section>